<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="h-8 w-12 rounded-full mr-2 flex justify-center items-center">
      {% asset_img 'pfp.png', 'pfp' %}
    </div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <div class="text-sm flex-1">
    <p>Into cars, programming and manufacturing.</p>
    <p>Just here to document my projects.</p>
    <p>Probably working on another project...</p>
  </div>
</div>
