<nav>
  <link rel="stylesheet" href="/assets/styles/ld-btn.css">
  <ul class="flex pb-4 border-b-4 my-8">
    <li class="mr-12"><a href="/">Home</a></li>
    <li class="mr-12"><a href="/tags">Tags</a></li>
    <li class="mr-12"><a href="/about">About</a></li>
    <label class="my-auto ml-auto switch">
      <li>
        <input type="checkbox" id="toggleDarkModeInput">
        <span class="slider" id="toggleDarkMode"></span>
      </li>
    </label>
  </ul>

  <script defer>
    const toggleDarkModeBtn = document.getElementById("toggleDarkMode")
    toggleDarkModeBtn.addEventListener("click", function() {
      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
        document.getElementById("toggleDarkModeInput").checked = true
      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
      }
    });

    const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);
    if (isDarkMode()) {
      document.documentElement.classList.add('dark')
        document.getElementById("toggleDarkModeInput").checked = true
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</nav>
