.header-anchor {
  text-decoration: none!important;
}

body {
    transition: 200ms ease-in-out; /* smoother light/dark mode */
}

h1 > a.header-anchor {
  font-weight: 800;
}

h2 > a.header-anchor {
  font-weight: 700;
}

/* cool fade between pages */
@view-transition {
    navigation: auto;
}
